html {background-image: url(back-3.png);}
canvas
{background-color:#ffffff;
box-shadow:40px 40px 0px rgba(0, 0, 0,0.25);}
body
{padding: calc((100vh - 480px)/2) 0 0 calc((100vw - 512px)/2);
margin: 0px 0 0 0;
} 



#gameover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: calc((100vh - 183px)/2) 0 0 calc((100vw - 864px)/2);}
    #gameover {
        display: none;
        }
#yuhi {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffffff;
    background-image: url(start-bg.jpg);
    background-size: cover;
    background-position: center;
}

#torii {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(start-fg3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

        #sousa {
            color: white;
            font-size: 40px;
            font-family: sans-serif;
            font-weight: 400;
            word-wrap: break-word
        }
#sousa{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

